/**************Styles shared by most pages****************/
body {
  width: 100%;
  font-style: normal;
  font-family: sans-serif;
  font-size: 1em;
  background-color: beige;
  background-image: salmon.jpg;
  margin-left: 5%;
}
nav{
  display: flex;
  justify-content: space-between;
  background-color: AA6C39;
  width: 100%;
}
footer{
  background-color: AA6C39;
  height: 8%;
}

footer li {
  style:none;
  display:inline;
  justify-content: space-between;
  margin-left: 10%;
}
nav ul li {
  list-style: none;
  margin-right: 1em;
}
.nav-ul1{
  display:flex;
  flex-direction: row;
  margin: 0, auto;
  justify-content: flex-start;
}
.nav-ul2{
  display:flex;
  flex-direction: row;
  margin: 0, auto;
  justify-content: flex-end;
}

h1{
  display: flex;
  justify-content: center;
  font-size: 2.5em;
}

/************Table styles:******************/

thead{
  width: 15%;
  border: 1px;
  font-weight: bold;
}

td {
  width:3%;
  padding: 1%;
  font-size: 1.5em;
}

th{
  padding:2%;
}

/*****************Images styles:***************/

#shirt {
  width:20%;
}

#cookies-img{
  width: 15%;
}
#salmon-image{
  width:20%;
  margin: 0 auto;
  display: block;
  margin-bottom: 7%;
}
#fishies{
  width: 15%;
}

/************Form to add Stores Styles:*****************/

form fieldset input {
  width:8%;
  padding: 1%;
  font-size: 1.1em;
  border-radius: 5%;
}
form fieldset legend {
  font-size: 1.4em;
  margin-top: 5%;
}


.storeName{
  width: 15%;
  border-radius: 5%;
}
.mySubmit{
  width:12%;
  border-radius: 5%;
  margin-left: 5%;
}
form2{
display: flex;
justify-content: space-between;

}

/*****************Online Store-list page styles:*************/
#buy-cookies{
  display:inline;
  width: 30%;
  margin-left:10%;
}
#buy-shirts{
  display:inline;
  margin-left:10%;
  width: 30%;
}

.orders{
  width: 40%;
}
/****************Our Stores page styles*****************/

#Store-list{
  list-style: none;



}
.st-name{
  font-size: 1.1em;
  font-weight:bold;
}
#st-list{
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 2%;
}

ul li div {
  display: inline-block;
  width: 40%;
  float: left;
  margin: 5%;
}

ul li div p{
  font-size: 1.1em;
}

/****************StylePage styles below: ****************/
#stylepage{
  background-color: white;
}

.one {
  margin-bottom: 5%;
}

#highlights {
  color:red;
  font-family: Lobster, san-serif;
}

#data {
  font-family: Helvetica, serif;
  color: blue;
}

#text{
  font-family:Georgia, serif;
  color: brown;
}

#color1{
  background-color: beige;
}

#color2{
  background-color: AA6C39;
}
